/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/storage/api-docs/api-docs.json
composer.lock
yarn.lock

/app/Http/Controllers/PruebaPdfController.php
/resources/views/boleta2.blade.php
/resources/views/recibo2.blade.php
